<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tree-Generator</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="/js/html2canvas.js"></script>
</head>
<body>
    <header>
            <a class="logo" href="https://github.com/iqeq1945">Tree-Generator</a>
    </header>
    <section>
    <div>
        <h2>Make a Folder Tree!</h2>
        <form action="/" method="post">
            <p>
                <label for="url">Github Url</label>
                <input type="text" id="url" name="url" placeholder="{ID}/{Repository}">
                <label for="branch">Branch</label>
                <input type="text" id="branch" name="branch" placeholder="{branch}">
                <input type="submit" value="submit" >
                
            </p>    
        </form>
        <p class="button">
            <span> <button onclick="PrintDiv($('#tree'));">Image</button>
                <button onclick="location.href='https://github.com/iqeq1945/Tree_generator'">Github</button></span>
           
            <span id="author">made by Seongwoong-Hong</span>
        </p>
       
        <div id="tree" class="editor">
            <span>📑</span>
        </div>
    </div>
</section>
</body>
<script>
    var content = JSON.parse('<%- data %>');
    var tree = content.tree.map(function(element,index){
        const depth = element.path.split('/');
        //console.log(depth);
        const textIndex = depth.length;
        //console.log(textIndex);
        return {
              id: index + 1,
              depth: textIndex,
              text: depth[textIndex - 1],
        };
    });
    var treeDepth=tree.length;
    function setTree(){
        const element = document.getElementById('tree');
        element.innerHTML+=`<span><%= folder %></span><br>`;
        tree.forEach(function(data,index){
            var space = "\u00A0\u00A0\u00A0";
            for(i=1; i<data.depth ;i++){
                space+='│';
                space+=`\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0`;

            }
            space+='└─';
            element.innerHTML += `${space}${data.text}<br>`;
            })
        }
    if(tree) setTree();
</script>
<script>
    function PrintDiv(div){
        console.log("다운로드");
	div = div[0]
	html2canvas(div).then(function(canvas){
		var myImage = canvas.toDataURL();
		downloadURI(myImage, "tree.png") 
	});
}
    function downloadURI(uri, name){
	var link = document.createElement("a")
	link.download = name;
	link.href = uri;
	document.body.appendChild(link);
	link.click();
}
</script>
</html>